body {
  background-color: black;
  color: white;
}

span#numDice,
input[type="number"] {
  font-size: 20px;
  text-align: center;
}

input[type="number"] {
  width: 75px;
  margin-bottom: 10px;
}

div#resultDiv {
  border: 1px solid white;
  margin: 5px 0px;
  padding: 5px 5px;
  max-width: 400px;
  white-space: pre-line;
  /* Handling line breaks in output */
}

span.winningDice {
  font-weight: bold;
  font-size: 150%;
  color: Lime;
}

.list-container {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: gray;
}

li {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.ability {
  background-color: #5cb85c;
}

.weakness {
  background-color: #d9534f;
}

.perk {
  background-color: #5bc0de;
}

.flaw {
  background-color: #f0ad4e;
}

/*
.ability,
.weakness,
.perk,
.flaw {
  contentEditable: true;
}
*/

ul.ability-list,
ul.weakness-list {
  float: left;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Overlay background */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-content > * {
  float: left;
}

/* Close button style */
.close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 25px;
  cursor: pointer;
}

/* Add more styles as needed */

/* Optional: Hover effect on close button */
.close:hover {
  color: red;
}
